/*#065143
#129490
#70B77E
#E0A890
#CE1483*/

#navbar {
    background-color: #129490;
}

body {
    padding-top: 115px;
}

#headerHeader {
    color: white;
}

#homepageImage {
    width: auto;
    height: 600px;
    resize: both;
}

#section1 {
    border: 7.5px solid;
    border-color: #129490;
    padding: 10px;
}

#section2 {
    border: 7.5px solid;
    border-color: #E0A890;
    padding: 10px;
}

#section3 {
    border: 7.5px solid;
    border-color: #70B77E;
    padding: 10px;
}

#reportIMG {
    width: 600px;
    height: auto;
}

thead {
    background-color: #E0A890;
    text-emphasis: bold;
}

th {
    background-color: #E0A890;
    text-align: center;
}

.dataframe {
    border: 1px;
    border-color: #E0A890;
}
